<div>
    <tabset>
      <tab *ngFor="let tab of tabs" [heading]="tab.title" id="{{'tab'+tab.id}}" [active]="tab.active">
          <ng-container *ngIf="tab.contentType === 'table'">
            <table>
                <tbody>
                    <tr *ngFor="let item of tab.content">
                        <td>{{item.id}}</td>
                        <td>{{item.name}}</td>
                        <td (click)="openImage(item)" class="link">{{item.imageLink}}</td>
                    </tr>
                </tbody>
            </table>
          </ng-container>
          <ng-container *ngIf="tab.contentType === 'image'">
            <img [src]="tab.url">
          </ng-container>
      </tab>
    </tabset>
  </div>